@media screen and (max-width:600px) {
    body {
        margin: auto;
    }
    
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .bar-close{
        display: none;
    }

    .menu-links.open {
        max-height: 300px;
        display: block;
    }
    
    .hamburger-bar.open {
        display: none;
    }

    .bar-close.close {
        display: block;
    }

    #home,#about,#project,#experience,#contact {
        max-width: 500px;
        margin-top: 50px; 
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .section-1,.project-content,.section-1-right,.background {
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .edetail {
       padding: 20px;
       margin: 0;
       text-align: center;
    }

    .pro-content {
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .pro-detail {
        grid-template-rows: repeat(3, 1fr); 
        grid-template-columns: repeat(2, 1fr); 
        padding-left: 55px;
    }
    
    .b1, .b2 {
        height:max-content;
    }
    .panda {
        width: 400px;
        width:400px;
        border-radius: 20px;
        margin-left: 0px;
    }
    #about {
        padding: 0;
    }
    .head {
        margin-right:0px;
    }
    
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .nav-links {
        gap:1rem;
    }
    .section-1 {
        display: block;
    }
    .pro-content {
        max-width: 100%;
        width: 600px;
    }
    .edetail{
        padding-left: 20px;
    }
    .text-a {
        width: 600px;
    }
    .project-content{
       display: block;
    }
    .each-project {
        width:600px;
        height:550px;
        border: 1px black solid;
        border-radius: 20px;
        padding: 10px;  
        margin-bottom: 20px;
    }
    .pro-1,.pro-2,.pro-3 {
        max-width:480px;
        height:360px;
        border-radius: 30px;
        padding: 20px;
    }

    .github {
        margin-left:-70px;
    }

   .linkedin {
    margin-left:-40px;
   }
    
}

  